<div class="container">
<center>

<h1><p>Profile</p></h1>
<h4>- - - - - </h4>
<h3><p>Name: {{user.name}}</p></h3>
<h3><p>Instagram ID:{{user.ig_id}}</p></h3>

<h4><a href="/logout">Logout</a></h4>

<h4>- - - - - </h4>

<br><br>

<div class="col-lg-6">
<h2>
<a href="/c3visualization">View New C3 Visualization</a><h2></div> <div class="col-lg-6"></div>

<div class="col-lg-6">
<h2><a href="/visualization">View Sortable D3 Visualization</a></h2></div> <div class="col-lg-6"></div>


<div class="col-lg-6">
<h2><a href="/newvisualization">View New D3 Visualization</a></h2></div> <div class="col-lg-6"></div>


</center>
</div>





