<center>
<p>ID: {{user.id}}</p>
<p>Name: {{user.name}}</p>
<p>Instagram ID:{{user.ig_id}}</p>
<p>FitBit ID:{{user.fit_id}}</p>

<h2>
<a href="/c3visualization">View New C3 Visualization</a>
<br/>
<a href="/visualization">view Sortable D3 Visualization</a>
<br/>
<a href="/newvisualization">view New D3 Visualization</a>
</h2>
</center>





