<script src="js/newvisualization.js"></script>
<style>

body {
  font: 10px sans-serif;
}

.arc path {
  stroke: #fff;
}

</style>
<br><br><br>
<center>
<div><h2>Popularity of Colors on Instagram</h2></div>
<div><h4>Aggregated from Instagram #Hashtags</h4></div>
<div id="pie">

</div>

</center>