<script src="js/newvisualization.js"></script>

<script> 
setTimeout(function(){
 document.getElementById("loading").style.display = "none";
}, 1500);

</script>

<style>

body {
  font: 10px sans-serif;
}

.arc path {
  stroke: #fff;
}

</style>
<br><br><br>
<center>
<div><h2>Popularity of Colors on Instagram</h2></div>
<div><h4>Aggregated from Instagram #Hashtags</h4></div>
<div id="pie" style="z-index:2;opacity:0.8;">

</div>
<div style="z-index:1;margin-top:100px;" id="loading">
<h4>Loading...Please Wait</h4>
</div>

</center>

<a href="/logout">Logout</a> <br>

<a href="/account">Back to main menu</a>